@font-face {
  font-family: "Montserrat-Regular";
  src: url(../header-entry/Montserrat-Regular.ttf) format('truetype');
}
/*-------------
GENERAL HEADER
------------ */
.logo {
  width: 105.69px;
  height: 40px;
  background-image: url(../header-entry/Logo.png);
}
.header-entry {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 40px;
}
.header-entry .header-logo {
  margin-left: 133px;
  margin-top: 15px;
}
.header-entry .header-nav {
  margin: 23px 20px 26px 349px;
}
.header-entry .header-nav .nav__list {
  display: flex;
}
.header-entry .dash {
  width: 1px;
  height: 30px;
  background: rgba(31, 32, 65, 0.1);
  margin: 20px 30px 20px 0px;
}
.header-entry .client-name {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin: 26px 140px 26px 0px;
}
