div(class="room-card" id="room-1")
    div(class="room-card__images")
        div(class="images--prev")
          i(class="material-icons") expand_more
        div(class="images--next")
          i(class="material-icons") expand_more
        div(class="images--count")
            p(class="count-rect solidcolor")
            p(class="count-rect")
            p(class="count-rect")
            p(class="count-rect")
        div(class="images--carousel")
            div(class="image image-one visible")
            div(class="image image-two") 
            div(class="image image-three")
            div(class="image image-four")

    div(class="room-card__title")
        p(class="room-card__title--number")
            b №
            b 888
            b люкс
        p(class="room-card__title--cost")
            b(class="dayCost") 9 990₽
            b  в сутки

    div(class="room-card__border")

    div(class="room-card__footer")
        include ../../form&elements/rate-button/rate-button.pug
        p(class="room-card__footer--review")
            b 145
            b &nbsp;Отзывов

div(class="room-card" id="room-2")
    div(class="room-card__images")
        div(class="images--prev")
          i(class="material-icons") expand_more
        div(class="images--next")
          i(class="material-icons") expand_more
        div(class="images--count")
            p(class="count-rect solidcolor")
            p(class="count-rect")
            p(class="count-rect")
            p(class="count-rect")
        div(class="images--carousel")
            div(class="image image-one visible")
            div(class="image image-two") 
            div(class="image image-three")
            div(class="image image-four")

    div(class="room-card__title")
        p(class="room-card__title--number")
            b №
            b 888
            b люкс
        p(class="room-card__title--cost")
            b(class="dayCost") 9 990₽
            b  в сутки

    div(class="room-card__border")

    div(class="room-card__footer")
        include ../../form&elements/rate-button/rate-button.pug
        p(class="room-card__footer--review")
            b 145
            b &nbsp;Отзывов