@font-face {
  font-family: "Quicksand-Bold";
  /* Гарнитура шрифта */
  src: url(../room-card/Quicksand-Bold.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../room-card/Montserrat-Regular.svg') format('svg'), url('../room-card/Montserrat-Regular.woff') format('woff'), url('../room-card/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../room-card/OpenSans-Regular.woff') format('woff'), url('../room-card/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../room-card/MaterialIcons-Regular.woff') format('woff'), url('../room-card/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.room-card {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}
.room-card__images {
  width: 270px;
  height: 151px;
  border: 0.1px solid red;
}
.room-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 234px;
  height: 24px;
  margin-top: 10px;
  margin-left: 20px;
}
.room-card__title--number b:nth-of-type(1) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  padding-left: -2px;
}
.room-card__title--number b:nth-of-type(2) {
  font-family: "Quicksand-Bold", 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #1F2041;
  margin-left: 6px;
}
.room-card__title--number b:nth-of-type(3) {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #BC9CFF;
  margin-left: 7px;
}
.room-card__title--cost {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.5pt;
  color: rgba(31, 32, 65, 0.5);
  padding-top: 5px;
}
.room-card__title--cost b:nth-of-type(2) {
  font-weight: normal;
}
.room-card__border {
  width: 230px;
  height: 1px;
  margin-top: 10px;
  margin-left: 20px;
  background: rgba(31, 32, 65, 0.1);
}
.room-card__footer {
  display: flex;
  width: 234px;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 20px;
}
