.pagination
  .pagination__pages
    a#one.page.first-page 1
    a.page 2
    a.page 3
    a.page ...
    a.page 15
    a.page.last-page
      i.material-icons arrow_forward
  .pagination__title 1 – 12 из 100+ вариантов аренды