@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../dayofborn/Montserrat-Regular.svg') format('svg'), url('../dayofborn/Montserrat-Regular.woff') format('woff'), url('../dayofborn/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular-Kirill';
  src: url('../dayofborn/Montserrat-Regular-Kirill.svg') format('svg'), url('../dayofborn/Montserrat-Regular-Kirill.woff') format('woff'), url('../dayofborn/Montserrat-Regular-Kirill.ttf') format('truetype');
}
.dayofborn .title-sm-rus {
  margin-bottom: 5px;
}
.dayofborn .calendar {
  display: flex;
  justify-content: flex-start;
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.dayofborn .text-rus {
  border: 0px;
}
.dayofborn #calendar-dayofborn {
  width: 320px;
  height: 40px;
  padding-left: 15px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.dayofborn #calendar-dayofborn::placeholder {
  font-size: 14px;
}
