@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../dayofborn/Montserrat-Regular.svg') format('svg'), url('../dayofborn/Montserrat-Regular.woff') format('woff'), url('../dayofborn/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular-Kirill';
  src: url('../dayofborn/Montserrat-Regular-Kirill.svg') format('svg'), url('../dayofborn/Montserrat-Regular-Kirill.woff') format('woff'), url('../dayofborn/Montserrat-Regular-Kirill.ttf') format('truetype');
}
.dayofborn label {
  display: block;
  width: 320px;
  height: 15px;
  margin-bottom: 5px;
}
.dayofborn .calendar #calendar-dayofborn {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.25);
}
.dayofborn .calendar #calendar-dayofborn:hover {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.dayofborn .calendar #calendar-dayofborn:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
}
