div(class="dayofborn")
    label(class="title-sm" for="calendar-dayofborn") дата рождения
    div(class="calendar")
       input(class="text" type="date", form="calendar-dayofborn", id="calendar-dayofborn", placeholder="дд.мм.гггг" pattern="ddmmyyyy")