form(class="dayofborn" action="#" method="post" name="dayofborn")
  label(class="dayofborn__label title-sm") дата рождения
  input(type="text" class="dayofborn__input datepicker-here text" name="datepicker-here" id="dayofborn-datepicker" data-date-format="dd.mm.yyyy" placeholder="дд.мм.гггг")
