div(class="selected-room")
    div(class="selected-room__title")
        p(class="selected-room__title--number")
            b №
            b 888
            b люкс
        p(class="selected-room__title--cost")
            b 9 900₽
            b  в стуки
    
    include ../../form&elements/date-dropdown/date-dropdown.pug
    div(class="selected-room__costDays")
        b 9 900₽ x 
        b(class="totalDays") 0
        b  суток
        