div(class="rooms-found")
    h4(class="rooms-found__title") Найдём номера под ваши пожелания
    //- include ../../form&elements/date-dropdown/date-dropdown.pug
    //- include ../../form&elements/dropdown-guest/dropdown-guest.pug
    button(class="btn btn--pay") подобрать номер
            i(class="material-icons") arrow_forward