mixin checkbox-input(name, value, title)
    input(type="checkbox", class="checkbox-list__input", id=name, name=name, value=value)&attributes(attributes)
    label(class="checkbox-list__label" for=name)= title
  


div(class="checkbox-list")
  div(class="checkbox-list__container")
    h6(class="checkbox-list__title") дополнительные удобства
    p(class="checkbox-list__btn")
      i(class="material-icons") expand_more
  form(class="checkbox-list__form" action="#" method="post" name="checkbox-list__form")
    +checkbox-input("breakfest", "breakfest", "Завтрак")
    +checkbox-input("writing-desk", "writing-desk", "Письменный стол")(checked)
    +checkbox-input("chair-baby", "chair-baby", "Стул для кормления")(checked)
    +checkbox-input("beddy-bye", "beddy-bye", "Кроватка")(checked)
    +checkbox-input("televisor", "televisor", "Телевизор")
    +checkbox-input("shampoo", "shampoo", "Шампунь")
