@font-face {
    font-family: 'Montserrat-Regular';
    src:url('../checkbox-list/Montserrat-Regular.woff') format('woff'),
        url('../checkbox-list/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../checkbox-list/MaterialIcons-Regular.woff') format('woff'),
        url('../checkbox-list/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.checkbox-list {
    width: 266px;
    height: auto;

    &__container {
        width: 266px;
        height: 44px;
        margin-bottom: 4px;
        display: flex;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 192px;
        height: 44px;
        margin: 0;
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #1F2041;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        margin: 0;
        margin-left: 30px;
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
    }

    &__btn--opened {
        transform: rotate(180deg);
    }

    &__form {
        position: relative;
        display: none;
    }

    &__form--opened {
        position: relative;
        display: block;
    }

    &__input {
        display: none;
    }

    &__label {
        display: block;
        width: 192px;
        margin-left: 30px;
        margin-bottom: 12px;
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__label:before {
        content: "check";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0px;
        // top:31px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        cursor: pointer;
    }

    &__input:checked+&__label:before {
        background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-color: #BC9CFF;
    }
}