@font-face {
  font-family: 'Montserrat-Regular-Kirill';
  src: url('../checkbox-list/Montserrat-Regular-Kirill.svg') format('svg'), url('../checkbox-list/Montserrat-Regular-Kirill.woff') format('woff'), url('../checkbox-list/Montserrat-Regular-Kirill.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../checkbox-list/MaterialIcons-Regular.svg') format('svg'), url('../checkbox-list/MaterialIcons-Regular.woff') format('woff'), url('../checkbox-list/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.checkbox-list .checkbox-list-title {
  display: flex;
  justify-content: space-between;
  width: 266px;
  height: 44px;
  background: #FFFFFF;
  box-sizing: border-box;
}
.checkbox-list .checkbox-list-title .title-sm-rus {
  padding-top: 11px;
  padding-left: 1px;
}
.checkbox-list .checkbox-list-title .checkbox-list-btn {
  width: 44px;
  color: rgba(31, 32, 65, 0.5);
}
.checkbox-list .checkbox-list-title .checkbox-list-btn i {
  padding: 8px;
  color: rgba(31, 32, 65, 0.5);
}
.checkbox-list .checkbox-list-title .checkbox-list-btn .checkbox-list-btn-open {
  transform: rotate(180deg);
}
.checkbox-list .checkbox-list-inputs {
  display: none;
  width: 266px;
  height: auto;
}
.checkbox-list .checkbox-list-inputs .checkbox-input-container {
  display: flex;
  text-align: center;
  align-items: center;
  width: 89px;
  height: 20px;
}
.checkbox-list .checkbox-list-inputs .checkbox-input-container .checkbox-input {
  width: 20px;
  height: 20px;
}
.checkbox-list .checkbox-list-inputs-opened {
  display: block;
}
