form(class="like-button like-button-border" action="#" id="like-button" name="like-button" method ="post")
    i(class="material-icons") favorite_border
    input(type="text" value="2" id="favorite" name="favorite" readonly)