body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background: #F4F4F6;
}
