@font-face {
  font-family: "Montserrat-Regular";
  /* Гарнитура шрифта */
  src: url(../body/Montserrat-Regular.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  background: #E5E5E5;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-align: left;
}
