@font-face {
    font-family: 'Montserrat-Regular-Kirill';
    src: url('../email-subscription/Montserrat-Regular-Kirill.woff') format('woff'),
        url('../email-subscription/Montserrat-Regular-Kirill.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../email-subscription/MaterialIcons-Regular.woff') format('woff'),
        url('../email-subscription/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


.email-subscribe {
    width: 267px;
    height: 64px;

    &__label {
        display: block;
        width: 267px;
        height: 15px;
        margin-bottom: 5px;
        color: #1F2041;
        cursor: pointer;
    }

    &__input {
        width: 223px;
        height: 44px;
        margin-right: 0px;
        padding-left: 16px;
        background: #FFFFFF;
        border-top: 1px solid rgba(31, 32, 65, 0.25);
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
        border-left: 1px solid rgba(31, 32, 65, 0.25);
        border-right-width: 0px;
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;
        color: rgba(31, 32, 65, 0.75);

        &::placeholder {
            color: rgba(31, 32, 65, 0.25);
        }
    }

    &__button {
        position: absolute;
        width: 44px;
        height: 44px;
        margin-left: 0px;
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        align-items: center;
        text-align: center;
        background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-top: 1px solid rgba(31, 32, 65, 0.25);
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
        border-right: 1px solid rgba(31, 32, 65, 0.25);
        border-left-width: 0px;
        box-sizing: border-box;
        border-radius: 0px 4px 4px 0px;
        box-sizing: border-box;
        cursor: pointer;
    }

}