div(class="email-subscription")
    label(class="title-sm-rus" for="email-subscription-input") subscription text field
    div(class="email-subscription-form")
       input(class="text-rus" type="email", id="email-subscription-input", placeholder="Your email address")
       div(class="email-btn")
          i(class="material-icons") arrow_forward
