form(class="email-subscribe" action="#" enctype="text/plain" method="post" name="email-subscribe")
    label(class="email-subscribe__label title-sm-rus" for="email-subscribe__input") subscription text field
    input(class="email-subscribe__input text-rus" type="email" id="email-subscribe__input" placeholder="Email")
    input(class="email-subscribe__button" type="submit" form="email-subscribe" value="arrow_forward")
