div(class="bullet-list")
  h6(class="bullet-list__title") bullet list
  ul(class="bullet-list__list")
    li(class="bullet-list__item") Нельзя с питомцами
    li(class="bullet-list__item") Без вечеринок и мероприятий
    li(class="bullet-list__item") Время прибытия — после 13:00, а выезд до 12:00
