.comments
    div.commentator
        .commentator-img
        .commentator-id
            p.text.commentator-name Мурад Сарафанов
            p.text.comment-date 5 дней назад
    div.revie
        form(class="like-button like-button-border" action="#" id="like-button-1" name="like-button" method ="post")
            i(class="material-icons") favorite_border
            input(type="text" value="12" id="favorite-1" name="favorite" readonly)
        p.text.revie-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.