.comments
    div.commentator
        .commentator-img
        .commentator-id
            p.text-rus.commentator-name Мурад Сарафанов
            p.text-rus.comment-date 5 дней назад
    div.revie
        div(class="like-button like-button-border" id="like-button-1")
            i(class="material-icons") favorite_border
            input(type="text" value="12" id="favorite-1" readonly)
        p.text-rus.revie-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.