.cards {
  position: relative;
  width: 1440px;
  height: 1350px;
  background: #F4F4F6;
  box-sizing: border-box;
}
.room-found {
  width: 380px;
  height: 374px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
