<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        div.cards
            include rooms-found/rooms-found.pug
            include selected-room/selected-room.pug
            include register-card/register-card.pug