div(class="cards")
    div(class="room-found")
        include ../form&elements/date-dropdown/date-dropdown.pug
        include ../form&elements/dropdown-guest/dropdown-guest.pug
        button(class="btn btn--pay") перейти к оплате
            i(class="material-icons") arrow_forward
