@import "./rooms-found/rooms-found.less";

.cards {
    position: relative;
    width: 1440px;
    height: 1350px;
    background: #F4F4F6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .rooms-found {
        position: absolute;
        margin-top: 150px;
        margin-left: 140px;
    }
}