@import "./rooms-found/rooms-found.less";
@import "./selected-room/selected-room.less";
@import "./register-card/register-card.less";
.cards {
    display: flex;
    position: relative;
    width: 1440px;
    height: 1350px;
    background: #F4F4F6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .rooms-found {
        margin-top: 150px;
        margin-left: 140px;
    }
    .selected-room {
        margin-top: 150px;
        margin-left: 40px;
    }
    .register-card {
        margin-top: 150px;
        margin-left: 40px;
    }
}