@font-face {
  font-family: 'Montserrat-Regular-Kirill';
  src: url('../radio-buttons/Montserrat-Regular-Kirill.svg') format('svg'), url('../radio-buttons/Montserrat-Regular-Kirill.woff') format('woff'), url('../radio-buttons/Montserrat-Regular-Kirill.ttf') format('truetype');
}
.radio-buttons {
  width: 221px;
  height: 24px;
  display: flex;
  margin-top: 16px;
}
.radio-buttons .container-for-input {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  margin-right: 9px;
}
.radio-buttons .container-for-input input[type="radio"] {
  display: none;
}
.radio-buttons .container-for-input .radio-input + label {
  -webkit-appearance: none;
  content: " ";
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px;
}
.radio-buttons .container-for-input .radio-input:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.radio-buttons .container-for-label {
  width: 68px;
  height: 24px;
  margin-right: 20px;
}
.radio-buttons .container-for-label:last-child {
  margin-right: 0px;
}
.radio-buttons .container-for-label label {
  display: block;
  line-height: 18px;
}
