form(class="radio-buttons" name="gender" action="#" method="post")
  input(type="radio" class="radio-buttons__input" name="typeOfGender" id="man" value="man" checked)
  label(class="radio-buttons__label text" for="man")
  input(type="radio" class="radio-buttons__input" name="typeOfGender" id="woman" value="woman")
  label(class="radio-buttons__label text" for="woman")