div(class="toggle-container")
    div(class="container-for-input")
        input(type="checkbox", class="checkbox-input", id="offers", name="offers", value="get-offers" checked)
        label(class="text-rus", for="offers")
    div(class="container-for-label")
        label(class="text-rus", for="offers") Получать спецпредложения
