div(class="footer-end")
    div(class="footer-end-logo")
    div(class="text") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    div(class="network")
        a(class="network-tw", href="https://twitter.com/", target="_blank")

        a(class="network-fb", href="https://facebook.com/", target="_blank")
                    
        a(class="network-inst", href="https://twitterinstagram.com/", target="_blank")