div(class="logindata")
    h4(class="logindata__title") Войти

    form(class="logindata__form" action="#" method="post" name="logindata")
        div(class="email__input text")
            input(class="email-form__input text" type="email" id="email-form__input" name="email-form__input" placeholder="Email")
        div(class="password__input text")
            input(class="email-form__input text" type="password" id="password__input" name="password__input" placeholder="Пароль")

    button(class="btn btn--pay") войти
            i(class="material-icons") arrow_forward

    div(class="logindata__footer")
        div(class="logindata__footer--title") Нет аккаунта на Toxin?
        div(class="logindata__footer--btn")
            button(class="btn btn--border") создать