
div.conteiner(class="form-elements")
  div(class="logo-uikit")


  div(class="column-one")
    form(action="#", method="post", id="email-simple")
      label(class="title-sm", for="email-simple-input") text field
      input(type="email", form="email-simple", id="email-simple-input", placeholder="Email")

    fieldset
      label(for='filesB') dropdown
      select#filesB(name='filesB')
        option(value='mypodcast' data-class='podcast') Взрослые
          input(type="number" value="5" min="0" max="100" step="1")
        option(value='myvideo' data-class='video') Дети
        option(value='myrss' data-class='rss') Младенцы




  div(class="column-two")
  div(class="column-three")
