@font-face {
  font-family: "Montserrat-Regular";
  src: url(../form&elements/Montserrat-Regular.ttf) format('truetype');
}
.form-elements {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1440px;
  height: 1853px;
  background: #ffffff;
  box-sizing: border-box;
}
.form-elements .logo-uikit {
  background-image: url(../form&elements/logo-uikit.png);
}
.form-elements .column-one {
  display: block;
  border: 1px solid grey;
}
.form-elements .column-two {
  border: 1px solid grey;
}
.form-elements .column-three {
  border: 1px solid grey;
}
.email-form {
  margin-top: 141px;
  margin-left: 140px;
}
.email-form label {
  display: block;
  width: 320px;
  height: 15px;
  margin-bottom: 5px;
}
.email-form .email-simple #email-simple-input {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-family: "Montserrat-Regular-Kirill";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1pt;
  color: rgba(31, 32, 65, 0.25);
}
.email-form .email-simple #email-simple-input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.email-form .email-simple #email-simple-input:hover {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.email-form .email-simple #email-simple-input:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.dropdown-guest {
  margin-top: 20px;
  margin-left: 140px;
}
.dropdown-bed {
  margin-top: 20px;
  margin-left: 140px;
}
.dayofborn {
  margin-top: 20px;
  margin-left: 140px;
}
.btn {
  width: auto;
  height: auto;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14.5px 20px;
  border-radius: 22px;
}
.btn-purple {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #ffffff;
}
.btn-white {
  background: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #BC9CFF;
  color: #BC9CFF;
  border-radius: 22px;
  padding: 12.5px 18px;
}
.btn-purple:hover {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
.btn-white:hover {
  border-color: rgba(188, 156, 255, 0.5);
}
