
div.conteiner(class="form-elements")
  div(class="logo-uikit")


  div(class="column-one")
    div(class="email-form")
      label(class="title-sm-rus" for="email-simple-input") Text Field
      div(class="email-simple")
       input(class="text-rus" type="email", id="email-simple-input", placeholder="Email")
    

    include dropdown-guest/dropdown-guest.pug

    include dropdown-bed/dropdown-bed.pug

    include dayofborn/dayofborn.pug

    include email-subscription/email-subscription.pug

    include checkbox-list/checkbox-list.pug

    include checkbox-buttons/checkbox-buttons.pug




  div(class="column-two")
    div
    a(class="btn btn-purple" href="#") click me
    a(class="btn btn-white" href="#") click me
  div(class="column-three")
