
.conteiner(class="form-elements")
  form.form(action='')
    label.label(for='email') text field
    input#email.input(type='email', name='email', value='Email')
  form.form.form-checkbox(action='')
    label.label(for='checkbox') checkbox buttons
    label
      input(type='checkbox')
      p(class="checkbox")
    label.label-checkbox(for='checkbox') Можно курить

  div
    a(class="btn btn-purple" href="#") click me
    a(class="btn btn-white" href="#") click me
