
div.conteiner(class="form-elements")
  div(class="logo-uikit")


  div(class="column-one")
    form(action="#", method="post", id="email-simple")
      label(class="title-sm", for="email-simple-input") Text Field
      input(type="email", form="email-simple", id="email-simple-input", placeholder="Email")

    include dropdown-guest/dropdown-guest.pug

    include dropdown-bed/dropdown-bed.pug

    include dayofborn/dayofborn.pug




  div(class="column-two")
    div
    a(class="btn btn-purple" href="#") click me
    a(class="btn btn-white" href="#") click me
  div(class="column-three")
