@font-face {
    font-family: "Montserrat-Regular";
    src: url(../form&elements/Montserrat-Regular.ttf) format('truetype');
}

.form-elements {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1440px;
    height: 1853px;
    background: #ffffff;
    box-sizing: border-box;

    .logo-uikit {
        background-image: url(../form&elements/logo-uikit.png);
    }

    .column-one {
        display: block;
        border: 1px solid grey;
        z-index: 0;
    }

    .column-two {
        border: 1px solid grey;
    }

    .column-three {
        border: 1px solid grey;
    }


    .dropdown-guest {
        margin-top: 20px;
        margin-left: 140px;
    }

    .dropdown-bed {
        margin-top: 20px;
        margin-left: 140px;
    }

    .dayofborn {
        margin-top: 20px;
        margin-left: 140px;
    }

    .email-subscription {
        margin-top: 20px;
        margin-left: 140px;
    }

    .checkbox-list {
        margin-top: 20px;
        margin-left: 140px;
    }

    .checkbox-buttons {
        margin-top: 20px;
        margin-left: 140px;
    }

    .radio {
        margin-top: 40px;
        margin-left: 140px;
    }

    .radio-buttons {
        margin-top: 16px;
        margin-left: 140px;
    }

    .toggle {
        margin-top: 20px;
        margin-left: 140px;
    }

    .toggle-container {
        margin-top: 16px;
        margin-left: 140px;
    }

    .like {
        margin-top: 20px;
        margin-left: 140px;
    }

    .like-button {
        margin-top: 16px;
        margin-left: 140px;
    }

    .rate {
        margin-top: 20px;
        margin-left: 140px;
        letter-spacing: 0.1pt;
    }

    .rate-button {
        margin-top: 16px;
        margin-left: 140px;
    }

    .rich-checkbox-buttons {
        margin-top: 20px;
        margin-left: 140px;
    }

    .bullet-list {
        margin-top: 20px;
        margin-left: 140px;
    }
    .info-room {
        margin-top: 20px;
        margin-left: 140px;
    }
}

.email-form {
    margin-top: 141px;
    margin-left: 140px;

    label {
        display: block;
        width: 320px;
        height: 15px;
        margin-bottom: 5px;
    }

    .email-simple {
        #email-simple-input {
            width: 320px;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 15px;
            color: rgba(31, 32, 65, 0.25);

            &::placeholder {
                color: rgba(31, 32, 65, 0.25);
            }

            &:hover {
                color: rgba(31, 32, 65, 0.75);
                border: 1px solid rgba(31, 32, 65, 0.5);
            }

            &:focus {
                color: rgba(31, 32, 65, 0.75);
                border: 1px solid rgba(31, 32, 65, 0.5);
            }
        }
    }

}




.btn {
    width: auto;
    height: auto;
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14.5px 20px;
    border-radius: 22px;
}

.btn-purple {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #ffffff;
}

.btn-white {
    background: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #BC9CFF;
    color: #BC9CFF;
    border-radius: 22px;
    padding: 12.5px 18px;
}

.btn-purple:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.btn-white:hover {
    border-color: rgba(188, 156, 255, 0.5);
}