div.range-slider
    p.range-slider-title
        label(class="title-sm-rus" for="amount") диапозон цены
        input(class="title-sm-rus price" type="text" id="amount" readonly)
    div(id="slider-range")
