form(class="filter-date" action="#" method="post" name="filter-date")
  label(class="filter-date__label title-sm") даты пребывания в отеле
  input(type="text" data-range="true" data-multiple-dates-separator=" - " class="filter-date__input datepicker-here text" name="datepicker-here" id="filter-datepicker" data-date-format="dd M" disabled)
  input(type="button" class="filter-date__button" value="expand_more")