@font-face {
  font-family: "Montserrat-Regular";
  /* Гарнитура шрифта */
  src: url(../header/Montserrat-Regular.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
.header {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header__logo {
  display: flex;
  width: 105.69px;
  height: 40px;
  margin-left: 133px;
  margin-top: 15px;
}
.header__logo .logo-img {
  width: 40px;
  height: 40px;
}
.header__logo .logo-text {
  width: 53px;
  height: 13px;
  margin-top: 13px;
  margin-bottom: 14px;
  padding-left: 12.5px;
}
.header__nav {
  display: flex;
  width: 540px;
  height: 21px;
  margin: 26px 15px 23px 298px;
}
.header__nav .nav_list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav .nav_list_item {
  margin-left: 28px;
}
.header__nav .nav_list_item:first-child {
  margin: 0;
}
.header__nav .nav_list_item_link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.header__nav .nav_list_item_link svg {
  align-items: center;
  text-align: center;
  margin-left: 5px;
}
.header__nav .nav_list_item:nth-child(4) {
  margin-left: 25px;
}
.header__nav .nav_list_item:first-child .nav_list_item_link {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
.header__button {
  display: flex;
}
.header__button .btn_wait {
  width: 79px;
  height: 34px;
  background-color: #ffffff;
  border-color: #BC9CFF;
  border-radius: 22px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  margin: 18px 20px 18px 0px;
  padding: 7px 18px 8px 18px;
}
.header__button .btn_purple {
  width: 101px;
  height: 34px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-color: #BC9CFF;
  border-radius: 22px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 18px 120px 18px 0px;
  padding: 7px 18px 8px 17px;
}
