div(class="header__logo")
   


nav(class="header__nav")
    ul(class="nav__list" )
        a(class="nav__link" href="#") 
            li(class="nav__list_item") Home

        a(class="nav__link" href="#")
            li(class="nav__list_item") About Us

        a(class="nav__link" href="#")
            li(class="nav__list_item") Services

        a(class="nav__link" href="#")
            li(class="nav__list_item") Careers

        a(class="nav__link" href="#")
            li(class="nav__list_item") News

        a(class="nav__link" href="#")
            li(class="nav__list_item") Documentation


div(class="header__button")
    button LOGIN
    button REGISTER