@font-face {
  font-family: "Montserrat-Regular";
  src: url(../header-login/Montserrat-Regular.ttf) format('truetype');
}
/*-------------
GENERAL HEADER
------------ */
.header {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
/*-------------
HEADER-LOGIN
------------ */
.logo {
  width: 105.69px;
  height: 40px;
  background-image: url(../header-login/Logo.png);
}
.header-login {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 150px;
}
.header-login .btn-white {
  margin: 18px 20px 18px 0px;
  padding: 7px 18px 8px 18px;
}
.header-login .btn-purple {
  margin: 16.5px 140px 19px 0px;
  padding: 10px 20px 10px 20px;
}
.header-login .header-nav {
  margin: 23px 16px 26px 297.5px;
}
.header-login .header-nav .nav__list {
  display: flex;
}
.header-login .header-logo {
  margin-left: 133px;
  margin-top: 15px;
}
/*-------------
HEADER-NAVIGATION
------------ */
.nav {
  display: flex;
  width: 540px;
  height: 21px;
}
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin-left: 29px;
}
.nav__item:first-child {
  margin: 0;
}
.nav__item:last-child {
  margin-left: 27px;
}
.nav__link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.nav__link svg {
  align-items: center;
  text-align: center;
  margin-left: 3.75px;
}
.nav__item:nth-child(4) {
  margin-left: 25px;
}
.nav__item:first-child .nav__link {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
/*-------------
HEADER-BUTTON
------------ */
.button {
  display: flex;
}
