mixin logo
    div.logo(class!=attributes.class)




header(class="header header-login")   
    +logo(class="header-logo")
        

    nav(class="nav header-nav")
        ul(class="nav-list" )

                    li(class="nav-item")
                        a(class="nav-link" href="#") Home

                    li(class="nav-item")
                        a(class="nav-link" href="#") About Us

                    li(class="nav-item")
                        a(class="nav-link" href="#") Services
                    
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                        input(type="checkbox" id="nav-checkbox")
                        label(for="nav-checkbox")
                            i(class="material-icons") expand_more

                    li(class="nav-item")
                        a(class="nav-link" href="#") Careers

                    li(class="nav-item")
                        a(class="nav-link" href="#") News

                    li(class="nav-item")
                        a(class="nav-link" href="#") Documentation

        

    div(class="header-buttons")
        button(class="btn btn--border") login
        button(class="btn btn--purple") register