mixin logo
    div.logo(class!=attributes.class)




header(class="header header-login")   
    +logo(class="header-logo")
        

    nav(class="nav header-nav")
        ul(class="nav-list" )

                    li(class="nav-item")
                        a(class="nav-link" href="#") Home

                    li(class="nav-item")
                        a(class="nav-link" href="#") About Us

                    li(class="nav-item")
                        a(class="nav-link" href="#") Services
                    
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                        input(type="checkbox" id="nav-checkbox")
                        label(for="nav-checkbox")
                            svg(width='12', height='8', viewbox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z', fill='#1F2041', fill-opacity='0.5')
                        div(class="clear-menu") HELLO, WORLD!

                    li(class="nav-item")
                        a(class="nav-link" href="#") Careers

                    li(class="nav-item")
                        a(class="nav-link" href="#") News

                    li(class="nav-item")
                        a(class="nav-link" href="#") Documentation

        

    div(class="button")
        a(class="btn btn-white" href="#") login
        a(class="btn btn-purple" href="#") register