@font-face {
  font-family: "Montserrat-Regular";
  src: url(../header-login/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../header-login/Montserrat-Regular.svg') format('svg'), url('../header-login/Montserrat-Regular.woff') format('woff'), url('../header-login/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../header-login/MaterialIcons-Regular.svg') format('svg'), url('../header-login/MaterialIcons-Regular.woff') format('woff'), url('../header-login/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*-------------
GENERAL HEADER
------------ */
.header {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
/*-------------
HEADER-LOGIN
------------ */
.logo {
  width: 105.69px;
  height: 40px;
  background-image: url(../header-login/Logo.png);
}
.header-login {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 150px;
}
.header-login .header-nav {
  margin: 23px 20px 26px 297.5px;
}
.header-login .header-logo {
  margin-left: 133px;
  margin-top: 15px;
}
/*-------------
HEADER-NAVIGATION
------------ */
.nav {
  width: 540px;
  height: 21px;
}
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  margin-left: 29px;
}
.nav-item:first-child {
  margin: 0;
}
.nav-item:last-child {
  margin-left: 27px;
}
.nav-link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.nav-item:nth-child(4) {
  margin-left: -1px;
}
.nav-item:nth-child(4) #nav-checkbox {
  display: none;
}
.nav-item:nth-child(4) .material-icons {
  margin-top: 0px;
  margin-left: 1px;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}
.nav-item:nth-child(5) {
  margin-left: 20px;
}
.nav-item:first-child .nav-link {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
/*-------------
HEADER-BUTTON
------------ */
.header-buttons {
  display: flex;
  z-index: 0;
  margin-top: 18px;
}
.header-buttons .btn--border {
  background: #ffffff;
  color: #BC9CFF;
  width: 77px;
  height: 32px;
  padding: 9px 20px 10px 19px !important;
}
.header-buttons .btn--border:after {
  content: "login";
  padding: 9.5px 27px;
  top: -1px;
  left: -1px;
}
.header-buttons .btn--purple {
  width: 101px;
  height: 34px;
  margin-left: 20px;
  padding: 9px 20px 10px 19px !important;
}
