@font-face {
    font-family: "Montserrat-Regular";
    src: url(../header-login/Montserrat-Regular.ttf) format('truetype');
}
/*-------------
GENERAL HEADER
------------ */
.header {
    display: flex;
    width: 1440px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}


/*-------------
HEADER-LOGIN
------------ */
.logo {
    width: 105.69px;
    height: 40px;
    background-image: url(../header-login/Logo.png);
}
.header-login {
    display: flex;
    width: 1440px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    margin-top: 150px;


    .header-nav {
        margin: 23px 16px 26px 297.5px;
    }

    .header-logo {
        margin-left: 133px;
        margin-top: 15px;
    }
}

/*-------------
HEADER-NAVIGATION
------------ */

.nav {
    width: 540px;
    height: 21px;

    &-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-item {
        margin-left: 29px;

        &:first-child {
            margin: 0;
        }

        &:last-child {
            margin-left: 27px;
        }
    }

    &-link {
        text-decoration: none;
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);

        svg {
            align-items: center;
            text-align: center;
           }
    }
    &-item:nth-child(4) {
      margin-left: 3.75px;
      #nav-checkbox {
        display: none;
        &:checked ~ .clear-menu {
          display: block;
          position: absolute;
        }
      }
    }
    &-item:nth-child(5) {
        margin-left: 25px;
    }

    &-item:first-child .nav-link {
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
    }
  .clear-menu {
    display: none;
  }
}



/*-------------
HEADER-BUTTON
------------ */
.header-buttons {
    display: flex;
    z-index: 0;
    margin-top: 18px;
    .btn--border {
        padding: 8.5px 18.5px 8px 18.5px;
        &:after {
            content: "login";
            padding: 9.5px 20px 9.5px 19px;
            top: -5px;
            left: -1px;
        }
    }
    .btn--purple {
        margin-left: 20px;
        padding: 5px 20px 5px 19px !important;
    }
}

