.main-page {
  position: relative;
  width: 1440px;
  height: 1343px;
}
.main-page .header {
  margin-top: 0;
}
.main-page__body {
  height: 830px;
  background-image: url("main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-page .footer-main {
  margin-top: 0;
}
