div.main-page
    include ../components/header&footer/header-login/header-login.pug
    main.main-page__body
        include ../components/cards/rooms-found/rooms-found.pug
    include ../components/header&footer/footer-main/footer-main.pug