div(class="dropdown-bed")
        p(class="title-sm") удобства номера
        div(class="dropdown-title-bed")
          div(class="dropdown-text-bed text") 2 спальни, 2 кровати, 0 ванных комнат
          div(class="dropdown-btn-bed")
            i(class="material-icons") expand_more
        div(class="dropdown-list-bed")
          div(class="dropdown-list-container")
            div(class="dropdown-list-item title-sm") Спальни
            div(class="dropdown-counter")
              div(class="bedroom-minus") -
              div(class="dropdown-number")
                input(type="text" value="2" id="bedroom" readonly)
              div(class="bedroom-plus") +
          
          div(class="dropdown-list-container")
            div(class="dropdown-list-item title-sm") Кровати
            div(class="dropdown-counter")
              div(class="bed-minus") -
              div(class="dropdown-number")
                input(type="text" value="2" id="bed" readonly)
              div(class="bed-plus") +
            
            
          div(class="dropdown-list-container")
            div(class="dropdown-list-item title-sm") Ванные комнаты
            div(class="dropdown-counter")
              div(class="bathroom-minus") -
              div(class="dropdown-number")
                input(type="text" value="0" id="bathroom" readonly)
              div(class="bathroom-plus") +