div(class="dropdown-bed")
        p(class="title-sm-rus") удобства номера
        div(class="dropdown-title-bed")
          div(class="dropdown-text-bed text-rus") 2 спальни, 2 кровати, 0 ванных комнат
          div(class="dropdown-btn-bed")
            i(class="material-icons") expand_more
        div(class="dropdown-list-bed")
          div(class="dropdown-list-container")
            div(class="dropdown-list-item title-sm-rus") Спальни
            div(class="dropdown-counter")
              div(class="bedroom-minus") -
              div(class="dropdown-number")
                input(type="text" value="2" id="bedroom")
              div(class="bedroom-plus") +
          
          div(class="dropdown-list-container")
            div(class="dropdown-list-item title-sm-rus") Кровати
            div(class="dropdown-counter")
              div(class="bed-minus") -
              div(class="dropdown-number")
                input(type="text" value="2" id="bed")
              div(class="bed-plus") +
            
            
          div(class="dropdown-list-container")
            div(class="dropdown-list-item title-sm-rus") Ванные комнаты
            div(class="dropdown-counter")
              div(class="bathroom-minus") -
              div(class="dropdown-number")
                input(type="text" value="0" id="bathroom")
              div(class="bathroom-plus") +