@font-face {
    font-family: 'Montserrat-Regular-Kirill';
    src: url('../buttons/Montserrat-Regular-Kirill.svg') format('svg'),
        url('../buttons/Montserrat-Regular-Kirill.woff') format('woff'),
        url('../buttons/Montserrat-Regular-Kirill.ttf') format('truetype');
}
.buttons {
    width: 218px;
    height: 195px;
    z-index: 0;
    .button {
        margin-top: 5px;
    }
    .button-border {
        margin-top: 55px;
    }
}
.button {
    position: relative;

    .btn {
        width: auto;
        height: auto;
        font-family: 'Montserrat-Regular-Kirill';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 14.5px 20px;
        border-radius: 22px;
    }

    .btn-purple {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: #ffffff;
    }

    .btn-purple:hover {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
}

.button-border {
    position: relative;

    .btn {
        width: auto;
        height: auto;
        font-family: 'Montserrat-Regular-Kirill';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 14.5px 20px;
        border-radius: 22px;
    }

    .btn-white {
        background: #ffffff;
        color: #BC9CFF;
        border-radius: 22px;
        padding: 13px 19px;
    }

    .btn-white:after {
        content: "click me";
        font-family: 'Montserrat-Regular-Kirill';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 24px;
        background: rgb(188, 156, 255);
        background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
        padding: 14.5px 20px;
        width: auto;
        height: auto;
        top: -9.5px;
        left: -2px;
        position: absolute;
        z-index: -1;
    }

    .btn-white:hover {
        &:after {
            opacity: 0.5;
        }
    }
}