div.buttons
    div.button
        a(class="btn btn-purple" href="#") click me

    div.button-border
        a(class="btn btn-white" href="#") click me

    div.button-pay
        a(class="btn" href="#") перейти к оплате
        i(class="material-icons") arrow_forward