mixin footer-nav-title(name)
    h3.title-sm= name
mixin footer-nav-item(href, name)
    a.link(href=href)= name

div(class="footer-main")
    div(class="footer-wide")
        div(class="footer-box")
            div(class="footer-logo")
            p(class="text") Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        div(class="footer-navigation")
            +footer-nav-title('Navigation')
            +footer-nav-item('#', 'About Us')
            +footer-nav-item('#', 'News')
            +footer-nav-item('#', 'Support')
            +footer-nav-item('#', 'Products')
        div(class="footer-aboutus")
            +footer-nav-title('About us')
            +footer-nav-item('#', 'Who we are')
            +footer-nav-item('#', 'Our team')
            +footer-nav-item('#', 'Careers')
            +footer-nav-item('#', 'Investors')
        div(class="footer-support")
            +footer-nav-title('support')
            +footer-nav-item('#', 'Documentation')
            +footer-nav-item('#', 'Community')
            +footer-nav-item('#', 'Get in Touch')
        div(class="footer-subscribe")
            +footer-nav-title('Subscribe to our newsletter')
            p(class="text") Receive our latest news and promotions in your inbox!
            div(class="email-subscription")
                div(class="email-subscription-form")
                    input(class="text-rus" type="email", id="email-subscription-input", placeholder="Your email address")
                    div(class="email-btn")
                        i(class="material-icons") arrow_forward
    div(class="footer-tight")
        p(class="text") Copyright © 2018 Toxin UI Kit. All rights reserved.
        div(class="network")
            a(class="network-tw", href="https://twitter.com/", target="_blank")

            a(class="network-fb", href="https://facebook.com/", target="_blank")
                
            a(class="network-inst", href="https://twitterinstagram.com/", target="_blank")
                