mixin footer-nav-title(name)
    h3.title-sm= name
mixin footer-nav-item(href, name)
    a.link(href=href)= name

div(class="footer-main")
    div(class="footer-wide")
        div(class="footer-box")
            div(class="footer-logo")
            p(class="text") Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».
        div(class="footer-navigation")
            +footer-nav-title('Навигация')
            +footer-nav-item('#', 'О нас')
            +footer-nav-item('#', 'Новости')
            +footer-nav-item('#', 'Служба поддержки')
            +footer-nav-item('#', 'Услуги')
        div(class="footer-aboutus")
            +footer-nav-title('О нас')
            +footer-nav-item('#', 'О сервисе')
            +footer-nav-item('#', 'Наша команда')
            +footer-nav-item('#', 'Вакансии')
            +footer-nav-item('#', 'Инвесторы')
        div(class="footer-support")
            +footer-nav-title('Служба поддержки')
            +footer-nav-item('#', 'Соглашения')
            +footer-nav-item('#', 'Сообщества')
            +footer-nav-item('#', 'Связь с нами')
        div(class="footer-subscribe")
            +footer-nav-title('Подписка')
            p(class="text") Получайте специальные предложения и новости сервиса
            form(class="email-subscribe" action="#" enctype="text/plain" method="post" name="email-subscribe")
                input(class="email-subscribe__input text" type="email" id="email-subscribe__input" placeholder="Email")
                input(class="email-subscribe__button" type="submit" form="email-subscribe" value="arrow_forward")
    div(class="footer-tight")
        p(class="text") Copyright © 2018 Toxin отель. Все права защищены.
        div(class="network")
            a(class="network-tw", href="https://twitter.com/", target="_blank")

            a(class="network-fb", href="https://facebook.com/", target="_blank")
                
            a(class="network-inst", href="https://instagram.com/", target="_blank")
                