@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../footer-main/Montserrat-Regular.svg') format('svg'), url('../footer-main/Montserrat-Regular.woff') format('woff'), url('../footer-main/Montserrat-Regular.ttf') format('truetype');
}
.footer-main {
  display: block;
  width: 1440px;
  margin-top: 40px;
  box-sizing: border-box;
}
.footer-main .footer-wide {
  display: flex;
  width: 1440px;
  height: 372px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer-main .footer-wide .footer-box {
  width: 260px;
  height: 156px;
  margin-top: 100px;
  margin-left: 133px;
}
.footer-main .footer-wide .footer-box .footer-logo {
  width: 105.69px;
  height: 40px;
  background-image: url(../footer-main/logo.png);
  margin-top: 0px;
  margin-left: 0px;
}
.footer-main .footer-wide .footer-box .text {
  width: 260px;
  height: 96px;
  margin-top: 18px;
  letter-spacing: -0.1pt;
}
.footer-main .footer-wide .link {
  display: block;
  margin-top: 22px;
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  letter-spacing: -0.1pt;
  white-space: nowrap;
}
.footer-main .footer-wide .footer-navigation {
  width: 81px;
  height: 168px;
  margin-top: 92px;
  margin-left: 40px;
}
.footer-main .footer-wide .footer-aboutus {
  width: 82px;
  height: 168px;
  margin-top: 92px;
  margin-left: 119px;
}
.footer-main .footer-wide .footer-support {
  width: 113px;
  height: 130px;
  margin-top: 92px;
  margin-left: 118px;
}
.footer-main .footer-wide .footer-subscribe {
  width: 260px;
  height: 14px;
  margin-top: 92px;
  margin-left: 87px;
}
.footer-main .footer-wide .footer-subscribe .text {
  width: 196px;
  height: 48px;
  margin-top: 19px;
  letter-spacing: -0.2pt;
}
.footer-main .footer-wide .email-subscribe {
  margin-top: -11px !important;
  width: 260px !important;
  height: 44px !important;
}
.footer-main .footer-wide .email-subscribe .email-subscribe__input {
  width: 216px !important;
  height: 44px !important;
}
.footer-main .footer-wide .email-subscribe .email-subscribe__button {
  margin-top: 19px !important;
}
.footer-main .footer-tight {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 1px;
}
.footer-main .footer-tight .text {
  width: 332px;
  height: 18px;
  margin-top: 24px;
  margin-left: 133px;
  letter-spacing: -0.2pt;
}
.footer-main .footer-tight .network {
  display: flex;
  justify-content: space-between;
  width: 112px;
  height: 24px;
  margin-top: 24px;
  margin-left: 716px;
}
.footer-main .footer-tight .network-tw {
  width: 24px;
  height: 24px;
  background-image: url(../footer-main/sprites-network.png);
  background-position: -12px -14px;
}
.footer-main .footer-tight .network-fb {
  width: 24px;
  height: 24px;
  background-image: url(../footer-main/sprites-network.png);
  background-position: -65px -14px;
}
.footer-main .footer-tight .network-inst {
  width: 24px;
  height: 24px;
  background-image: url(../footer-main/sprites-network.png);
  background-position: -112px -14px;
}
