.-(2), .-(2), .-(2){
	background: url(sprites.png) no-repeat;
}

.-(2){
	background-position: -12px -14px ;
	width: 24px;
	height: 20px;
}

.-(2){
	background-position: -65px -14px ;
	width: 22px;
	height: 22px;
}

.-(2){
	background-position: -112px -14px ;
	width: 22px;
	height: 22px;
}

