doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title 
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    include components/body/body.pug      
        include components/color&type/color&type.pug
        br
        br
        include components/form&elements/form&elements.pug
        br
        br
        include components/header&footer/header&footer.pug


        
        
        
        
    
        