@font-face {
  font-family: "Montserrat-Regular";
  /* Гарнитура шрифта */
  src: url(../body/Montserrat-Regular.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
body {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  background: #F4F4F6;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-align: left;
}
@font-face {
  font-family: "Montserrat-Regular";
  /* Гарнитура шрифта */
  src: url(../header&footer/Montserrat-Regular.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
.header-footer {
  width: 1440px;
  height: 1350px;
  background: #F4F4F6;
}
.header {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header .btn-white {
  margin: 18px 20px 18px 0px;
  padding: 7px 18px 8px 18px;
}
.header .btn-purple {
  margin: 16.5px 140px 19px 0px;
  padding: 10px 20px 10px 20px;
}
.header-login {
  margin: 150px 0px 40px 0px;
}
.header-entry {
  margin: 40px 0px 40px 0px;
}
.logo {
  width: 105.69px;
  height: 40px;
  background-image: url(../header&footer/logo.png);
}
.header-logo {
  margin-left: 133px;
  margin-top: 15px;
}
.nav {
  display: flex;
  width: 540px;
  height: 21px;
}
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin-left: 29px;
}
.nav__item:first-child {
  margin: 0;
}
.nav__item:last-child {
  margin-left: 27px;
}
.nav__link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.nav__link svg {
  align-items: center;
  text-align: center;
  margin-left: 3.75px;
}
.nav__item:nth-child(4) {
  margin-left: 25px;
}
.nav__item:first-child .nav__link {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
.header-nav {
  margin: 26px 16px 23px 297.5px;
}
.button {
  display: flex;
}
.btn {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 22px;
}
.btn-white {
  background: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #BC9CFF;
  color: #BC9CFF;
}
.btn-white:hover {
  border-color: rgba(188, 156, 255, 0.5);
}
.btn-purple {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #ffffff;
}
.btn-purple:hover {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
@font-face {
  font-family: "Quicksand-Bold";
  /* Гарнитура шрифта */
  src: url(../color&type/Quicksand-Bold.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Montserrat-Regular";
  /* Гарнитура шрифта */
  src: url(../color&type/Montserrat-Regular.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
.conteiner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.color-type {
  position: relative;
  width: 1440px;
  height: 900px;
  background: #ffffff;
}
.logo-uikit {
  background-image: url(../color&type/logo-uikit.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}
.elements-color {
  display: block;
  position: absolute;
  width: 320px;
  left: 150px;
  top: 145px;
}
.elements-color .column-one {
  display: flex;
  flex-wrap: wrap;
}
.box-color {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 5px;
}
.one {
  background: #1F2041;
  margin-top: 0;
}
.two {
  background: rgba(31, 32, 65, 0.75);
}
.three {
  background: rgba(31, 32, 65, 0.5);
}
.four {
  background: rgba(31, 32, 65, 0.25);
}
.five {
  background: rgba(31, 32, 65, 0.05);
}
.six {
  background: #BC9CFF;
}
.seven {
  background: #6FCF97;
}
.setting-color {
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 15px;
  align-items: center;
  color: #1F2041;
  text-align: left;
  margin-right: 5px;
}
.name-color {
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 15px;
  align-items: center;
  color: #1F2041;
  text-align: left;
}
.elements-text {
  display: flex;
  position: absolute;
  width: 403px;
  left: 846px;
  top: 145px;
}
.elements-text .column-one {
  width: 37px;
  height: 297px;
  margin-bottom: 24px;
}
.elements-text .column-one p {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  text-transform: uppercase;
}
.elements-text .column-one p:nth-child(1) {
  margin: 0px 30px 81px 8px;
}
.elements-text .column-one p:nth-child(2) {
  font-size: 19px;
  line-height: 23px;
  margin: 0px 30px 76px 10px;
}
.elements-text .column-one p:nth-child(3) {
  font-size: 12px;
  line-height: 15px;
  margin: 0px 30px 47px 20px;
}
.elements-text .column-one p:nth-child(4) {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin-right: 30px;
}
.elements-text .column-two {
  width: 336px;
  height: 297px;
  margin-left: 30px;
}
.elements-text .column-two:nth-child(2) .title-md {
  margin-top: 50px;
}
.elements-text .column-two:nth-child(2) .title-sm {
  margin-top: 50px;
}
.elements-text .column-two:nth-child(2) .text {
  margin-top: 48px;
}
.title-lg {
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  text-align: left;
  text-transform: none;
  margin-top: 0px;
}
.title-md {
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  text-align: left;
  text-transform: none;
}
.title-sm {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  text-align: left;
}
.text {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-align: left;
  text-transform: none;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../form&elements/Montserrat-Regular.ttf) format('truetype');
}
.form-elements {
  position: relative;
  width: 1440px;
  height: 1853px;
  background: #ffffff;
}
.form {
  display: block;
  width: 320px;
  height: 67px;
  border: 1px solid red;
}
.form-checbox {
  display: inline-block;
}
.label {
  display: block;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px;
}
.label-checkbox {
  display: inline-block;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 25px;
}
input[type="email"] {
  display: block;
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}
input[type="email"]:hover,
input[type="email"]:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
input[type="checkbox"] {
  display: none;
}
.checkbox {
  display: inline-block;
  position: relative;
}
.checkbox:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  transition: .0s;
}
input[type="checkbox"]:checked + .checkbox:before {
  background-image: url(../form&elements/vector.png);
  background-repeat: no-repeat;
  background-position: 4px 5px;
}
.btn {
  width: auto;
  height: auto;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14.5px 20px;
  border-radius: 22px;
}
.btn-purple {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #ffffff;
}
.btn-white {
  background: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #BC9CFF;
  color: #BC9CFF;
  border-radius: 22px;
  padding: 12.5px 18px;
}
.btn-purple:hover {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
.btn-white:hover {
  border-color: rgba(188, 156, 255, 0.5);
}
