@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../dropdown-guest/Montserrat-Regular.svg') format('svg'), url('../dropdown-guest/Montserrat-Regular.woff') format('woff'), url('../dropdown-guest/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular-Kirill';
  src: url('../dropdown-guest/Montserrat-Regular-Kirill.svg') format('svg'), url('../dropdown-guest/Montserrat-Regular-Kirill.woff') format('woff'), url('../dropdown-guest/Montserrat-Regular-Kirill.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../dropdown-guest/MaterialIcons-Regular.svg') format('svg'), url('../dropdown-guest/MaterialIcons-Regular.woff') format('woff'), url('../dropdown-guest/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.dropdown-guest .title-sm-rus {
  margin-bottom: 5px;
}
.dropdown-guest .dropdown-title-guest {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
}
.dropdown-guest .opened-guest {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px 4px 0 0;
  z-index: 1000;
}
.dropdown-guest .dropdown-text-guest {
  width: 112px;
  height: 24px;
  margin-top: 8px;
  margin-left: 13px;
}
.dropdown-guest .dropdown-btn-guest {
  width: 44px;
  height: 44px;
  padding: 0 auto;
}
.dropdown-guest .dropdown-btn-guest i {
  display: flex;
  justify-content: center;
  padding-top: 7.5px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-guest .dropdown-list-guest {
  display: none;
  position: absolute;
  z-index: 100;
  width: 320px;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: 0;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 0 0 4px 4px;
}
.dropdown-guest .dropdown-list-container {
  display: flex;
  padding-top: 11px;
  padding-left: 15px;
}
.dropdown-guest .dropdown-list-container .dropdown-list-btn {
  display: inline-block;
}
.dropdown-guest .dropdown-list-container .dropdown-list-btn #apply {
  width: 84px;
  height: 15px;
  border: 0;
  background-color: #fff;
  color: #BC9CFF;
  margin-left: 132px;
  margin-top: 10px;
  cursor: pointer;
}
.dropdown-guest .dropdown-list-container .dropdown-list-btn #clear {
  width: 72px;
  height: 15px;
  border: 0;
  background-color: #fff;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 10px;
  margin-left: -7px;
}
.dropdown-guest .dropdown-list-item {
  width: 83px;
  height: 15px;
}
.dropdown-guest .dropdown-counter {
  display: flex;
  justify-content: space-between;
  width: 93px;
  height: 30px;
  margin-top: -5px;
  margin-left: 121px;
}
.dropdown-guest .adults-minus,
.dropdown-guest .children-minus,
.dropdown-guest .babies-minus {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  color: rgba(31, 32, 65, 0.25);
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  font-family: "Montserrat-Regular-Kirill";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.dropdown-guest .adults-plus,
.dropdown-guest .children-plus,
.dropdown-guest .babies-plus {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-top: 2px;
  color: rgba(31, 32, 65, 0.5);
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  font-family: "Montserrat-Regular-Kirill";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.dropdown-guest .dropdown-number input[type="text"] {
  width: 30px;
  height: 27px;
  border: 0px;
  color: #1F2041;
  box-sizing: border-box;
  font-family: "Montserrat-Regular-Kirill";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
