@font-face {
  font-family: "Montserrat-RK";
  src: url(../dropdown-guest/Montserrat-Regular-Kirill.ttf) format('truetype');
}

.dropdown-title {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .opened {
    border-radius: 4px 4px 0 0;
  }
  .dropdown-text {
    width: 112px;
    height: 24px;
    margin-top: 8px;
    margin-left: 13px;
    .text {
      font-family: "Montserrat-RK";
      font-weight: bold;
    }
  }

  .dropdown-btn {
    width: 44px;
    height: 44px;
    padding: 0 auto;
  }
  .dropdown-btn svg {
   padding: 15.5px;
  }
  .dropdown-list {
    display: none;
    width: 320px;
    height: 159px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-top: 0;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 0 0 4px 4px;
  }
  .dropdown-list-container {
    display: flex;
    padding-top: 11px;
    padding-left: 15px;
    
    
    .dropdown-list-btn {
      display: inline-block;
      #apply {
      width: 84px;
      height: 15px;
      border: 0;
      background-color: #fff;
      color: #BC9CFF;
      margin-left: 132px;
      margin-top: 10px;
      cursor: pointer;
    }
      #clear {
      width: 72px;
      height: 15px;
      border: 0;
      background-color: #fff;
      color: rgba(31, 32, 65, 0.5);
      margin-top: 10px;
      margin-left: -7px;
    }
   } 
  }
  .dropdown-list-item {
    width: 83px;
    height: 15px;
  }
  .dropdown-counter {
    display: flex;
    justify-content: space-between;
    width: 93px;
    height: 30px;
    margin-top:-5px;
    margin-left: 121px;
  }
  .adults-minus, .children-minus, .babies-minus {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    font-family: "Montserrat-RK";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }
  .adults-plus, .children-plus, .babies-plus {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 2px;
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 22px;
    font-family: "Montserrat-RK";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }
  .dropdown-number input[type="text"] {
    width: 30px;
    height: 27px;
    border: 0px;
    color: #1F2041;
    box-sizing: border-box;
    font-family: "Montserrat-RK";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
  }