
div(class="dropdown-guest")
    p(class="title-sm") гости
    div(class="dropdown-title-guest")
        div(class="dropdown-text-guest text") Сколько гостей
        div(class="dropdown-btn-guest")
          i(class="material-icons") expand_more
    div(class="dropdown-list-guest")
        div(class="dropdown-list-container")
          div(class="dropdown-list-item title-sm") Взрослые
          div(class="dropdown-counter")
            div(class="adults-minus") -
            div(class="dropdown-number")
              input(type="text" value="0" id="adults" readonly)
            div(class="adults-plus") +
        
        div(class="dropdown-list-container")
          div(class="dropdown-list-item title-sm") Дети
          div(class="dropdown-counter")
            div(class="children-minus") -
            div(class="dropdown-number")
              input(type="text" value="0" id="children" readonly)
            div(class="children-plus") +
          
          
        div(class="dropdown-list-container")
          div(class="dropdown-list-item title-sm") Младенцы
          div(class="dropdown-counter")
            div(class="babies-minus") -
            div(class="dropdown-number")
              input(type="text" value="0" id="babies" readonly)
            div(class="babies-plus") +
            
        div(class="dropdown-list-container")
          div(class="dropdown-list-btn")
            button(id="clear" class="title-sm") 
            button(id="apply" class="title-sm") применить