@font-face {
  font-family: "Quicksand-Bold";
  /* Гарнитура шрифта */
  src: url(../color&type/Quicksand-Bold.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
.title_main {
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #1F2041;
}
.title_middle {
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #b7b7be;
}
