@font-face {
    font-family: "Quicksand-Bold";
    /* Гарнитура шрифта */
    src: url(../color&type/Quicksand-Bold.ttf) format('truetype');
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "Montserrat-Regular";
    /* Гарнитура шрифта */
    src: url(../color&type/Montserrat-Regular.ttf) format('truetype');
    /* Путь к файлу со шрифтом */
}

.conteiner {
    margin-top: 25px;
}

.color-type {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #ffffff;

}

.logo-uikit {
    background-image: url(../color&type/logo-uikit.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
}

.elements-color {
    display: block;
    position: absolute;
    width: 320px;
    left: 150px;
    top: 145px;


    .column-one {
        display: flex;
        flex-wrap: wrap;
    }
}



.box-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 5px;
}

.one {
    background: #1F2041;
    margin-top: 0;
}

.two {
    background: rgba(31, 32, 65, 0.75);
}

.three {
    background: rgba(31, 32, 65, 0.5);
}

.four {
    background: rgba(31, 32, 65, 0.25);
}

.five {
    background: rgba(31, 32, 65, 0.05);
}

.six {
    background: #BC9CFF;
}

.seven {
    background: #6FCF97;

}

.setting-color {
    font-family: "Quicksand-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 15px;
    align-items: center;
    color: #1F2041;
    text-align: left;
    margin-right: 5px;
}

.name-color {
    font-family: "Quicksand-Bold";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 15px;
    align-items: center;
    color: #1F2041;
    text-align: left;
}

.elements-text {
    display: flex;
    position: absolute;
    width: 403px;
    left: 846px;
    top: 145px;

    // border: 1px solid red;
    .column-one {
        width: 37px;
        height: 297px;
        margin-bottom: 24px;

        p {
            font-family: "Montserrat-Regular";
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: right;
            color: rgba(31, 32, 65, 0.25);
            text-transform: uppercase;

            &:nth-child(1) {
                margin: 0px 30px 81px 8px;
            }

            &:nth-child(2) {
                font-size: 19px;
                line-height: 23px;
                margin: 0px 30px 76px 10px;
            }

            &:nth-child(3) {
                font-size: 12px;
                line-height: 15px;
                margin: 0px 30px 47px 20px;
            }

            &:nth-child(4) {
                font-size: 14px;
                line-height: 24px;
                text-transform: none;
                margin-right: 30px;
            }
        }
    }

    .column-two {
        width: 336px;
        height: 297px;
        margin-left: 30px;

        &:nth-child(2) .title-md {
            margin-top: 50px;

        }

        &:nth-child(2) .title-sm {
            margin-top: 50px;

        }

        &:nth-child(2) .text {
            margin-top: 48px;

        }
    }
}

.title-lg {
    font-family: "Quicksand-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    text-align: left;
    text-transform: none;
    margin-top: 0px;
}

.title-md {
    font-family: "Quicksand-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
    text-align: left;
    text-transform: none;
}

.title-sm {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    text-align: left;
}

.text {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-align: left;
    text-transform: none;
}