mixin logo
    div.logo(class!=attributes.class)



div(class="conteiner header-footer")
    div(class="logo-uikit")
    
    include header-login/header-login.pug

    include header-entry/header-entry.pug

    include footer-main/footer-main.pug





        