@font-face {
  font-family: "Montserrat-Regular";
  /* Гарнитура шрифта */
  src: url(../header&footer/Montserrat-Regular.ttf) format('truetype');
  /* Путь к файлу со шрифтом */
}
.header-footer {
  position: relative;
  width: 1440px;
  height: 1350px;
  background: #F4F4F6;
}
.header {
  display: flex;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header .btn-white {
  margin: 18px 20px 18px 0px;
  padding: 7px 18px 8px 18px;
}
.header .btn-purple {
  margin: 16.5px 140px 19px 0px;
  padding: 10px 20px 10px 20px;
}
.header-login {
  margin: 150px 0px 40px 0px;
}
.header-entry {
  margin: 40px 0px 40px 0px;
}
.logo {
  width: 105.69px;
  height: 40px;
  background-image: url(../header&footer/logo.png);
}
.header-logo {
  margin-left: 133px;
  margin-top: 15px;
}
.nav {
  display: flex;
  width: 540px;
  height: 21px;
}
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin-left: 29px;
}
.nav__item:first-child {
  margin: 0;
}
.nav__item:last-child {
  margin-left: 27px;
}
.nav__link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.nav__link svg {
  align-items: center;
  text-align: center;
  margin-left: 3.75px;
}
.nav__item:nth-child(4) {
  margin-left: 25px;
}
.nav__item:first-child .nav__link {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
.header-nav {
  margin: 26px 16px 23px 297.5px;
}
.button {
  display: flex;
}
.btn {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 22px;
}
.btn-white {
  background: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #BC9CFF;
  color: #BC9CFF;
}
.btn-white:hover {
  border-color: rgba(188, 156, 255, 0.5);
}
.btn-purple {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #ffffff;
}
.btn-purple:hover {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
