mixin logo
    div.logo(class!=attributes.class)
mixin navbar(href, title)
    nav.nav(class!=attributes.class)
        ul.nav__list
                li.nav__item
                    a.nav__link(href=href)&attributes(attributes)= title



div(class="conteiner header-footer")
    div(class="logo-uikit")
    header(class="header header-login")   
        +logo(class="header-logo")
        

        nav(class="nav header-nav")
            ul(class="nav__list" )

                    li(class="nav__item")
                        a(class="nav__link" href="#") Home

                    li(class="nav__item")
                        a(class="nav__link" href="#") About Us

                    li(class="nav__item")
                        a(class="nav__link" href="#") Services
                            svg(width='12', height='8', viewbox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z', fill='#1F2041', fill-opacity='0.5')

                    li(class="nav__item")
                        a(class="nav__link" href="#") Careers

                    li(class="nav__item")
                        a(class="nav__link" href="#") News

                    li(class="nav__item")
                        a(class="nav__link" href="#") Documentation
        

        div(class="button")
            a(class="btn btn-white" href="#") login
            a(class="btn btn-purple" href="#") register

    header(class="header header-entry")   
        div(class="logo header-logo")
        


        nav(class="nav header-nav")
            ul(class="nav__list" )

                    li(class="nav__item")
                        a(class="nav__link" href="#") Home

                    li(class="nav__item")
                        a(class="nav__link" href="#") About Us

                    li(class="nav__item")
                        a(class="nav__link" href="#") Services
                            svg(width='12', height='8', viewbox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z', fill='#1F2041', fill-opacity='0.5')

                    li(class="nav__item")
                        a(class="nav__link" href="#") Careers

                    li(class="nav__item")
                        a(class="nav__link" href="#") News

                    li(class="nav__item")
                        a(class="nav__link" href="#") Documentation

    
