div(class="email-form")
      label(class="title-sm-rus" for="email-simple-input") Text Field
      div(class="email-simple")
       input(class="text-rus" type="email", id="email-simple-input", placeholder="Email")