form(class="email-form" action="#" method="post" name="email-form")
      label(class="email-form__label title-sm" for="email-form__input") Text Field
      input(class="email-form__input text" type="email" id="email-form__input" name="email-form__input" placeholder="Email")