form.rate-button(name='rate-button' action='' method='post')
  input.rate-button__input(name='rating' value='1' type='checkbox')
  label.rate-button__label.material-icons.star-border(for='rating_1') star_border
  input.rate-button__input(name='rating' value='2' type='checkbox')
  label.rate-button__label.material-icons.star-border(for='rating_2') star_border
  input.rate-button__input(name='rating' value='3' type='checkbox')
  label.rate-button__label.material-icons.star-border(for='') star_border
  input.rate-button__input(name='rating' value='4' type='checkbox')
  label.rate-button__label.material-icons.star-border(for='') star_border
  input.rate-button__input(name='rating' value='5' type='checkbox')
  label.rate-button__label.material-icons.star-border(for='') star_border