form#rate-button.rate-button(name='rate-button' action='' method='post')
  input#rating_1.rate-button__input(name='rating' value='1' type='checkbox')
  label#label_rating_1.rate-button__label.material-icons.star-border(for='rating_1') star_border
  input#rating_2.rate-button__input(name='rating' value='2' type='checkbox')
  label#label_rating_2.rate-button__label.material-icons.star-border(for='rating_2') star_border
  input#rating_3.rate-button__input(name='rating' value='3' type='checkbox')
  label#label_rating_3.rate-button__label.material-icons.star-border(for='rating_3') star_border
  input#rating_4.rate-button__input(name='rating' value='4' type='checkbox')
  label#label_rating_4.rate-button__label.material-icons.star-border(for='rating_4') star_border
  input#rating_5.rate-button__input(name='rating' value='5' type='checkbox')
  label#label_rating_5.rate-button__label.material-icons.star-border(for='rating_5') star_border